/* css styles */

/* Set the entire page background */
body {
  width: 100%; /* Change from 85% to 100% */
  margin: 0;
  padding: 0;
  background-color: #f3f1e9;
  /*font-family: 'Helvetica Neue', sans-serif;*/
  font-size: 15px;
  line-height: 1.5;
}

/* Style for the body title */
h1,h2,h3,h4,h5,h6 {  /* Adjust as per your document title levels */
  /*font-family: 'Helvetica Neue', sans-serif;*/
}

h1 {font-size: 2em}
h2 {font-size: 1.7em}
h3 {font-size: 1.5em}
h4 {font-size: 1.2em}
h5,h6 {font-size: 1em}


/* Main content area */
main {
  width: 100%; /* Adjust this value as needed */
  padding-right: 50px;
  border-right: 2px solid black;
}

main a {
  color: #8087CA !important;
  font-weight: bold;
}

main a:hover,
a:active,
a:focus {
    color: #A4A9D9 !important;
}

.quarto-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0;
  padding: 0;
}


/* Table of contents container */
.toc {
  position: fixed;
  right: 0;
  top: 100px; /* Should match your navbar height */
  width: 2%; /* Adjust this value as needed */
  height: calc(100vh - 100px);
  overflow-y: auto;
}

/* TOC list styling */
.toc-content {
  padding-top: 1rem;
  border: none;
}

/* Change TOC link color on hover */
.sidebar nav[role="doc-toc"] ul > li > a:hover,
.sidebar nav[role="doc-toc"] ul > li > a.active {
    color: #A4A9D9 !important;
    border-left: solid 1px #A4A9D9 !important;
}



/* Styling for the second level of the list */
.sidebar nav[role="doc-toc"] ul > li > ul > li > a:hover
.sidebar nav[role="doc-toc"] ul > li > ul > li > a:active,
.sidebar nav[role="doc-toc"] ul > li > ul > li > a:focus{
    color: #A4A9D9 !important;
    border-left: solid 1px #A4A9D9 !important;


}


/* Navigation bar setup */
.navbar {
  height: 100px; /* Adjust this value as needed */
  background-color: #f3f1e9;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* Logo */
.navbar-brand {
  height: 100px; /* Adjust height */
  text-align: center;
}

/* Change Logo height */
.navbar-brand img {
  max-height: 100%; /* Ensure it fits within the navbar */
}

/* Make Navbar Font Bold and Set Font Size */
.navbar-brand, .navbar-nav > li > a {
  font-weight: bold; /* Make text bold */
  font-size: 18px; /* Adjust font size */
  color: #3d454a; /* Set font color for links */
}

/* Active link styles */
.navbar a.active, 
.navbar .nav-item.active > a,
.navbar a[aria-current="page"],
.navbar .nav-link.active {
  text-decoration: underline;
  color: #A4A9D9 !important;
}


/* Hover and focus styles for all navbar links */
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:active,
.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link:active,
.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  color: #A4A9D9 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}




/* Set background color for code chunks */
div.sourceCode {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  font-size: 15px;
}

/* Style for inline code */
code {
  font-size: 14px;
  color: #9699C0; /* Highlighted color */
  padding: 2px 4px;
  border-radius: 4px;
}
  


/* Style for tab panels */
.panel-tabset {
  background-color: rgba(243, 241, 233, 1.0);  
  border: 2px solid black;  /* Black border around the entire tab panel */
}

/* Style for the tab buttons */
.nav-tabs {
  background-color: rgba(200, 203, 232, 0.6); 
  border-bottom: 2px solid black;  /* Black border at bottom of tabs */
}

.nav-tabs .nav-link {
  color: white !important;
  background-color: rgba(200, 203, 232, 0.6);  
  border: 2px solid black;  /* Black border around each tab */
  margin-right: 5px;  /* Space between tabs */
  border-bottom: none;  /* Remove bottom border to avoid double border */
}

/* Hover and focus states */
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  color: #f0f0f0 !important;  /* Your desired hover color */
  background-color: rgba(232, 200, 219, 0.6) !important;
  border: 2px solid black;
  border-bottom: none; 
}

/* Active tab styling */
.nav-tabs .nav-link.active {
  color: black !important;
  background-color: rgba(232, 200, 219, 0.6); 
  border-color: black;  /* Black border */
  border-bottom: 2px solid black;  
}



/* Tab content area */
.tab-content {
  background-color: rgba(243, 241, 233, 1.0);  
  padding: 15px;  /* Add some padding inside the content area */
  border-bottom: none;  

}


/* callout */
div.callout {
  border: dotted 2px !important;
  border-radius: 5px; /* Rounded corners */
  padding: 1em; /* Inner spacing */
  margin: 1em 0; /* Vertical spacing */

}


div.callout-note {
  background-color: rgba(200, 203,232, 0.3);
  border-color: #A4A9D9 !important;
  border-style: dashed;
  
}


div.callout-tip {
  background-color: rgba(200, 232,213,0.2) ;
  border-color: #C8E8D5 !important;
}

div.callout-warning {
  background-color: rgba(217, 160, 102 ,0.1);
  border-color: #e1b588 !important;
}

div.callout-important {
  background-color: rgba(232, 200, 219, 0.3);
  border-color: #E8C8DB !important;
}

/* Customize the callout header */
.callout-header {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

/* Customize the callout icon */
.callout-icon {
  margin-right: 0.5em;
}

/* Customize callout title */
.callout-title {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.5em;
}
